<ngx-datatable class='material' [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [rows]='rows'
  [columnMode]="'force'" [count]="totalCount" [externalPaging]="true" (page)="setPage($event)"
  style="border: 1px solid black;" >


  <ngx-datatable-column name="Name" prop="name">
    <ng-template let-value="value" ngx-datatable-cell-template>
       <div style="border: 1px solid black;">{{value}}</div> 
    </ng-template>
  </ngx-datatable-column>


  <ngx-datatable-column name="rotation_period" prop="rotation_period">
    <ng-template let-value="value" ngx-datatable-cell-template>
       <div style="border: 1px solid black;">{{value}}</div> 
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="orbital_period" prop="orbital_period">
    <ng-template let-value="value" ngx-datatable-cell-template>
       <div style="border: 1px solid black;">{{value}}</div> 
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="diameter" prop="diameter">
    <ng-template let-value="value" ngx-datatable-cell-template>
       <div style="border: 1px solid black;">{{value}}</div> 
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="climate" prop="climate">
    <ng-template let-value="value" ngx-datatable-cell-template>
       <div style="border: 1px solid black;">{{value}}</div> 
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="gravity" prop="gravity">
    <ng-template let-value="value" ngx-datatable-cell-template>
       <div style="border: 1px solid black;">{{value}}</div> 
    </ng-template>
  </ngx-datatable-column>

</ngx-datatable>
<!-- <pagination-controls
  previousLabel="Prev"
  nextLabel="Next"
 
></pagination-controls> -->

<router-outlet></router-outlet>